<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DHCheatRepo</key>
	<dict>
		<key>installed</key>
		<dict>
			<key>ASCII_Tables</key>
			<dict>
				<key>date</key>
				<date>2022-01-04T20:32:57Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array/>
					<key>name</key>
					<string>ASCII Tables</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>ASCII_Tables</string>
				</dict>
			</dict>
			<key>Ack</key>
			<dict>
				<key>date</key>
				<date>2022-01-04T20:32:57Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>terminal</string>
						<string>shell</string>
						<string>bash</string>
						<string>zsh</string>
					</array>
					<key>name</key>
					<string>Ack</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>Ack</string>
				</dict>
			</dict>
			<key>Axios</key>
			<dict>
				<key>date</key>
				<date>2022-01-04T20:32:58Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array/>
					<key>name</key>
					<string>Axios</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>Axios</string>
				</dict>
			</dict>
			<key>Bash_Shortcuts</key>
			<dict>
				<key>date</key>
				<date>2022-01-04T20:32:57Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>terminal shell bash</string>
					</array>
					<key>name</key>
					<string>Bash Shortcuts</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>Bash_Shortcuts</string>
				</dict>
			</dict>
			<key>CSS_Device_Media_Queries</key>
			<dict>
				<key>date</key>
				<date>2022-01-04T20:32:57Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array/>
					<key>name</key>
					<string>CSS Device Media Queries</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>CSS_Device_Media_Queries</string>
				</dict>
			</dict>
			<key>Conventional_Commits</key>
			<dict>
				<key>date</key>
				<date>2022-01-04T20:32:57Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array/>
					<key>name</key>
					<string>Conventional Commits</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>Conventional_Commits</string>
				</dict>
			</dict>
			<key>Crontab</key>
			<dict>
				<key>date</key>
				<date>2022-01-04T20:32:57Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array/>
					<key>name</key>
					<string>Crontab</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>Crontab</string>
				</dict>
			</dict>
			<key>Docker</key>
			<dict>
				<key>date</key>
				<date>2022-01-04T20:32:56Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array/>
					<key>name</key>
					<string>Docker</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>Docker</string>
				</dict>
			</dict>
			<key>Dockerfile</key>
			<dict>
				<key>date</key>
				<date>2022-01-04T20:32:57Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array/>
					<key>name</key>
					<string>Dockerfile</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>Dockerfile</string>
				</dict>
			</dict>
			<key>Emoji</key>
			<dict>
				<key>date</key>
				<date>2022-01-04T20:32:57Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array/>
					<key>name</key>
					<string>Emoji</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>Emoji</string>
				</dict>
			</dict>
			<key>Git</key>
			<dict>
				<key>date</key>
				<date>2022-01-06T20:46:32Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>terminal</string>
						<string>shell</string>
						<string>bash</string>
						<string>zsh</string>
					</array>
					<key>name</key>
					<string>Git</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>Git</string>
				</dict>
			</dict>
			<key>HTML_Entities</key>
			<dict>
				<key>date</key>
				<date>2022-01-04T20:32:58Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array/>
					<key>name</key>
					<string>HTML Entities</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>HTML_Entities</string>
				</dict>
			</dict>
			<key>HTML_Head_Elements</key>
			<dict>
				<key>date</key>
				<date>2022-01-04T20:32:57Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array/>
					<key>name</key>
					<string>HTML Head Elements</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>HTML_Head_Elements</string>
				</dict>
			</dict>
			<key>HTTP_Header_Fields</key>
			<dict>
				<key>date</key>
				<date>2022-01-04T20:32:57Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array/>
					<key>name</key>
					<string>HTTP Header Fields</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>HTTP_Header_Fields</string>
				</dict>
			</dict>
			<key>HTTP_Status_Codes</key>
			<dict>
				<key>date</key>
				<date>2022-01-04T20:32:57Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array/>
					<key>name</key>
					<string>HTTP Status Codes</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>HTTP_Status_Codes</string>
				</dict>
			</dict>
			<key>Kubernetes</key>
			<dict>
				<key>date</key>
				<date>2022-01-04T20:32:57Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array/>
					<key>name</key>
					<string>Kubernetes</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>Kubernetes</string>
				</dict>
			</dict>
			<key>LaTeX_Math_Symbols</key>
			<dict>
				<key>date</key>
				<date>2022-01-04T20:32:59Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array/>
					<key>name</key>
					<string>LaTeX Math Symbols</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>LaTeX_Math_Symbols</string>
				</dict>
			</dict>
			<key>Licenses</key>
			<dict>
				<key>date</key>
				<date>2022-01-04T20:32:57Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array/>
					<key>name</key>
					<string>Licenses</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>Licenses</string>
				</dict>
			</dict>
			<key>Unix_File_Permissions</key>
			<dict>
				<key>date</key>
				<date>2022-01-04T20:32:56Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>chmod</string>
					</array>
					<key>name</key>
					<string>Unix File Permissions</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>Unix_File_Permissions</string>
				</dict>
			</dict>
			<key>Vim</key>
			<dict>
				<key>date</key>
				<date>2022-01-04T20:32:57Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array/>
					<key>name</key>
					<string>Vim</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>Vim</string>
				</dict>
			</dict>
			<key>Vimdiff</key>
			<dict>
				<key>date</key>
				<date>2022-01-04T20:32:57Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array/>
					<key>name</key>
					<string>Vimdiff</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>Vimdiff</string>
				</dict>
			</dict>
			<key>YAML</key>
			<dict>
				<key>date</key>
				<date>2022-01-04T20:32:57Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array/>
					<key>name</key>
					<string>YAML</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>YAML</string>
				</dict>
			</dict>
			<key>iTerm2</key>
			<dict>
				<key>date</key>
				<date>2022-01-04T20:32:58Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>terminal</string>
						<string>shell</string>
						<string>bash</string>
						<string>zsh</string>
					</array>
					<key>name</key>
					<string>iTerm2</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>iTerm2</string>
				</dict>
			</dict>
			<key>npm</key>
			<dict>
				<key>date</key>
				<date>2022-01-04T20:32:57Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>node package manager</string>
						<string>nodejs package manager</string>
						<string>node.js package manager</string>
					</array>
					<key>name</key>
					<string>npm</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>npm</string>
				</dict>
			</dict>
		</dict>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHClojureRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHDartRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHGitHubRepo</key>
	<dict>
		<key>installed</key>
		<dict>
			<key>facebook/jest</key>
			<dict>
				<key>date</key>
				<date>2022-01-04T20:39:56Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>facebook/jest</string>
					<key>platform</key>
					<string>github</string>
					<key>uniqueIdentifier</key>
					<string>facebook/jest</string>
				</dict>
			</dict>
			<key>testing-library/cypress-testing-library</key>
			<dict>
				<key>date</key>
				<date>2022-01-04T20:33:11Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>testing-library/cypress-testing-library</string>
					<key>platform</key>
					<string>github</string>
					<key>uniqueIdentifier</key>
					<string>testing-library/cypress-testing-library</string>
				</dict>
			</dict>
			<key>testing-library/dom-testing-library</key>
			<dict>
				<key>date</key>
				<date>2022-01-04T20:33:41Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>testing-library/dom-testing-library</string>
					<key>platform</key>
					<string>github</string>
					<key>uniqueIdentifier</key>
					<string>testing-library/dom-testing-library</string>
				</dict>
			</dict>
			<key>testing-library/testing-library-docs</key>
			<dict>
				<key>date</key>
				<date>2022-01-04T20:34:29Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>testing-library/testing-library-docs</string>
					<key>platform</key>
					<string>github</string>
					<key>uniqueIdentifier</key>
					<string>testing-library/testing-library-docs</string>
				</dict>
			</dict>
			<key>testing-library/vue-testing-library</key>
			<dict>
				<key>date</key>
				<date>2022-01-04T20:33:13Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>testing-library/vue-testing-library</string>
					<key>platform</key>
					<string>github</string>
					<key>uniqueIdentifier</key>
					<string>testing-library/vue-testing-library</string>
				</dict>
			</dict>
		</dict>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHGoRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHHaskellRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHHexRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHJavaRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHPhpRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHRubyRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHScalaRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHStackOverflowRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHUserRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>actuallyDarkWebView</key>
	<true/>
	<key>docsets</key>
	<dict>
		<key>keywords</key>
		<dict>
			<key>~/Library/Application Support/Dash/DocSets/JavaScript/JavaScript.docset</key>
			<string>js:</string>
			<key>~/Library/Application Support/Dash/DocSets/Markdown/Markdown.docset</key>
			<string>md:</string>
			<key>~/Library/Application Support/Dash/DocSets/Python_3/Python 3.docset</key>
			<string>py:</string>
			<key>~/Library/Application Support/Dash/GitHub/facebookjest/facebook-jest.docset</key>
			<string>jest:</string>
			<key>~/Library/Application Support/Dash/GitHub/testinglibrarycypresstestinglibrary/testing-library-cypress-testing-library.docset</key>
			<string>tl:</string>
			<key>~/Library/Application Support/Dash/GitHub/testinglibrarydomtestinglibrary/testing-library-dom-testing-library.docset</key>
			<string>tl:</string>
			<key>~/Library/Application Support/Dash/GitHub/testinglibrarytestinglibrarydocs/testing-library-testing-library-docs.docset</key>
			<string>tl:</string>
			<key>~/Library/Application Support/Dash/GitHub/testinglibraryvuetestinglibrary/testing-library-vue-testing-library.docset</key>
			<string>tl:</string>
		</dict>
	</dict>
	<key>feeds</key>
	<dict>
		<key>installed</key>
		<dict>
			<key>http://kapeli.com/feeds/Ansible.xml</key>
			<dict>
				<key>date</key>
				<date>2022-01-04T20:34:42Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Bash.xml</key>
			<dict>
				<key>date</key>
				<date>2022-01-04T20:32:59Z</date>
			</dict>
			<key>http://kapeli.com/feeds/CMake.xml</key>
			<dict>
				<key>date</key>
				<date>2022-01-04T20:33:11Z</date>
			</dict>
			<key>http://kapeli.com/feeds/CSS.xml</key>
			<dict>
				<key>date</key>
				<date>2022-01-04T20:34:19Z</date>
			</dict>
			<key>http://kapeli.com/feeds/D3JS.xml</key>
			<dict>
				<key>date</key>
				<date>2022-01-04T20:34:45Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Dart.xml</key>
			<dict>
				<key>date</key>
				<date>2022-01-04T20:34:42Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Django.xml</key>
			<dict>
				<key>date</key>
				<date>2022-01-04T20:34:05Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Docker.xml</key>
			<dict>
				<key>date</key>
				<date>2022-01-04T20:33:58Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Express.xml</key>
			<dict>
				<key>date</key>
				<date>2022-01-04T20:37:42Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Flask.xml</key>
			<dict>
				<key>date</key>
				<date>2022-01-04T20:34:47Z</date>
			</dict>
			<key>http://kapeli.com/feeds/HTML.xml</key>
			<dict>
				<key>date</key>
				<date>2022-01-04T20:35:31Z</date>
			</dict>
			<key>http://kapeli.com/feeds/JavaScript.xml</key>
			<dict>
				<key>date</key>
				<date>2022-01-04T20:39:02Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Lua_5.4.xml</key>
			<dict>
				<key>date</key>
				<date>2022-01-04T20:34:06Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Markdown.xml</key>
			<dict>
				<key>date</key>
				<date>2022-01-04T20:37:33Z</date>
			</dict>
			<key>http://kapeli.com/feeds/NodeJS.xml</key>
			<dict>
				<key>date</key>
				<date>2022-01-04T20:34:58Z</date>
			</dict>
			<key>http://kapeli.com/feeds/NumPy.xml</key>
			<dict>
				<key>date</key>
				<date>2022-01-04T20:35:30Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Python_3.xml</key>
			<dict>
				<key>date</key>
				<date>2022-01-04T20:35:51Z</date>
			</dict>
			<key>http://kapeli.com/feeds/React.xml</key>
			<dict>
				<key>date</key>
				<date>2022-01-04T20:34:50Z</date>
			</dict>
			<key>http://kapeli.com/feeds/SVG.xml</key>
			<dict>
				<key>date</key>
				<date>2022-01-04T20:37:57Z</date>
			</dict>
			<key>http://kapeli.com/feeds/TypeScript.xml</key>
			<dict>
				<key>date</key>
				<date>2022-01-04T20:35:44Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Vim.xml</key>
			<dict>
				<key>date</key>
				<date>2022-01-04T20:37:34Z</date>
			</dict>
			<key>http://kapeli.com/feeds/VueJS.xml</key>
			<dict>
				<key>date</key>
				<date>2022-01-04T20:37:46Z</date>
			</dict>
		</dict>
		<key>uninstalled</key>
		<dict>
			<key>http://kapeli.com/feeds/Appcelerator_Titanium.xml</key>
			<dict>
				<key>date</key>
				<date>2021-10-30T19:30:22Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Apple_API_Reference.xml</key>
			<dict>
				<key>date</key>
				<date>2021-11-02T11:24:13Z</date>
			</dict>
		</dict>
	</dict>
	<key>isPinned</key>
	<true/>
	<key>placeholderDelimiter</key>
	<string>__</string>
	<key>profiles</key>
	<array>
		<dict>
			<key>icon</key>
			<string>cocos2d</string>
			<key>isDefault</key>
			<true/>
			<key>name</key>
			<string>Default</string>
			<key>searchSnippets</key>
			<false/>
		</dict>
		<dict>
			<key>icon</key>
			<string>Snippet</string>
			<key>name</key>
			<string>Snippets Only</string>
			<key>placeholder</key>
			<string>Search Snippets</string>
			<key>searchSnippets</key>
			<true/>
		</dict>
	</array>
	<key>searchAndFocusKey</key>
	<dict>
		<key>keyCode</key>
		<integer>42</integer>
		<key>modifiers</key>
		<integer>2304</integer>
	</dict>
	<key>shouldRestoreTabs</key>
	<true/>
	<key>shouldShowStatusIcon</key>
	<true/>
	<key>shouldStartAtLogin</key>
	<true/>
	<key>shouldSyncBookmarks</key>
	<true/>
	<key>shouldSyncDocsets</key>
	<true/>
	<key>shouldSyncGeneral</key>
	<true/>
	<key>shouldSyncView</key>
	<true/>
	<key>showDisabledDocsets</key>
	<true/>
	<key>showInDock</key>
	<false/>
	<key>sortDocsetsAlphabetically</key>
	<true/>
	<key>versionedDHCheatRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHClojureRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHDartRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHGitHubRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHGoRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHHaskellRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHHexRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHJavaRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHPhpRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHRubyRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHScalaRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHStackOverflowRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHUserRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedFeeds</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>webSearches</key>
	<array>
		<dict>
			<key>iconName</key>
			<string>Google</string>
			<key>isDefault</key>
			<true/>
			<key>isEnabled</key>
			<false/>
			<key>name</key>
			<string>Google</string>
			<key>url</key>
			<string>https://www.google.com/search?q={query}</string>
		</dict>
		<dict>
			<key>iconName</key>
			<string>DuckDuckGo</string>
			<key>isDefault</key>
			<true/>
			<key>isEnabled</key>
			<true/>
			<key>name</key>
			<string>DuckDuckGo</string>
			<key>url</key>
			<string>https://duckduckgo.com/?q={query}&amp;ia=web</string>
		</dict>
		<dict>
			<key>iconName</key>
			<string>Stack Overflow</string>
			<key>isDefault</key>
			<true/>
			<key>isEnabled</key>
			<true/>
			<key>name</key>
			<string>Stack Overflow</string>
			<key>url</key>
			<string>https://stackoverflow.com/search?q={query}</string>
		</dict>
	</array>
</dict>
</plist>
