.DS_STORE
btop/.config/btop/btop.log
__pycache__

# neovim/packer artifacts
neovim/.config/nvim/plugin/packer_compiled.lua
neovim/.config/nvim/.netrwhist

# neovim/Obsession artifacts
Session.vim

# tmux resurrect artifacts
tmux/.tmux/resurrect/*
tmux/.tmux/plugins/*

# nnn
nnn/.config/nnn/plugins/*
nnn/.config/nnn/.lastd
nnn/.config/nnn/**/*.tar.gz
nnn/.config/nnn/sessions/*
nnn/.config/nnn/nnn-*

# Lua rc for neovim setup
neovim/.config/nvim/lua/.luarc.json

# work-related snippets
neovim/.config/nvim/lua/snippets/work.lua
