.DS_STORE
btop/.config/btop/btop.log
__pycache__

# neovim/package manager artifacts
neovim/.config/nvim/.netrwhist
neovim/.config/nvim/lazy-lock.json

# neovim/Obsession artifacts
Session.vim

# tmux resurrect artifacts
tmux/.tmux/resurrect/*
tmux/.tmux/plugins/*

# nnn
nnn/.config/nnn/plugins/*
nnn/.config/nnn/.lastd
nnn/.config/nnn/**/*.tar.gz
nnn/.config/nnn/sessions/*
nnn/.config/nnn/nnn-*

# Lua rc for neovim setup
neovim/.config/nvim/lua/.luarc.json

# work-related snippets
neovim/.config/nvim/lua/snippets/work.lua
