.DS_STORE
neovim/.config/nvim/plugin/packer_compiled.lua
neovim/.config/nvim/.netrwhist
bpytop/.config/bpytop/error.log
__pycache__

# Ignore work-related snippets
neovim/.config/nvim/UltiSnips/markdown.snippets
_vscode/work.code-snippets
